body {
    width: 400px;
    height: 320px;
    font-family: 'Trebuchet MS';
    user-select: none;
}

h1, p {
    margin: 0;
}

#title {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 40px;
}

#detected {
    font-size: 15px;
}

#settings {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 15px;
}

.input-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, button {
    font-family: inherit;
    font-size: inherit;
}

#running {
    margin: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}